<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page | Shopping Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Only for styling not necessary -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='main.css')}}" />
</head>
<body>
    <h1>Welcome to Shopping Cart</h1>
    <br />
    <div class="empty_space">

    </div>
    <div class="shopping_option rounded">
        <form method="POST" action="{{ url_for('submit') }}">
            <select name="opt">
                <option disabled>Select one item for moving further</option>
                {% for o in data['items'] %}
                    <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
            </select>
            &nbsp; &nbsp;
            <select name="quan">
                {% for i in [1, 2, 3] %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br />
            <br />
            <button type="submit" class="btn-def">Checkout</button>
            <br />
            <br />
            <a href="{{ url_for('cart') }}">View Your Cart</a>
        </form>
    </div>
</body>
</html>